@use 'base';

// - Mobile: 375px
// - Desktop: 1440px

body{
    margin: 0;
    font-family: base.$fontmain;
    font-weight: 400;
    color: base.$grayishpurple;

}

.bgimage{
    background-image: url(/assets/images/background-pattern-mobile.svg);
    height: 250px;
    width: 100%;
}

.purple{
    background-color: base.$lightpink;
}

.faq{
    margin: 0 2rem;
    padding: 2rem;
    background-color: white;
    position: relative;
    top: -100px;
    border-radius: 10px;
}

.star{
    width: 20px;
    height: auto;
    margin-right: 1rem;
}

.title{
    margin: 0;
    font-weight: 700;
    color: base.$darkpurple;
    display: inline-block;
}

.qa-pair{
    border-bottom: 1px solid base.$lightpink;
}

.q-line{
    display: flex;
    align-items: center;
}

.q-text{
    font-weight: 600;
    color: base.$darkpurple;
    display: inline-block;
}

.q-sign{
    margin-left: 2rem;
}

.answer{
    margin-top: 0;
    display: none;
}

.answer-show{
    display: inherit;
}